In [21]:
import pandas as pd
import numpy as np

In [22]:
df = pd.read_csv(r"C:\Users\eman\OneDrive\Documents\GitHub\Emotion_Prediction\emotions.csv")

In [23]:
df.head()

                                                text  label
0      i just feel really helpless and heavy hearted      4
1  ive enjoyed being able to slouch about relax a...      0
2  i gave up my internship with the dmrg and am f...      4
3                         i dont know i feel so lost      0
4  i am a kindergarten teacher and i am thoroughl...      4